/* Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

/* CSS Variables */
:root {
  --primary-color: #052f5f;
  --secondary-color: #005377;
  --accent1-color: #06a77d;
  --accent2-color: #d5c67a;
  --background-color: #f8f8f8; 

  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --nav-background-color: #aabd8c;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #e7c24f;
  --nav-hover-background-color: #396e94;
}

.logo {
  max-width: 150px; 
  height: auto;
}


/* Body */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  background-color: var(--background-color); 
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Header */
header {
  padding: 20px;
  background-color: var(--accent2-color); 
  color: #ffffff; 
}

/* Paragraphs */
p {
  padding: 25px;
}

/* Navigation */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
