/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

/* Element Selectors */
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

main {
  max-width: 840px;
  overflow: hidden; /* Add this to create a new block formatting context */
}

.profile {
  overflow: hidden; /* Add this to create a new block formatting context */
}

.profile img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1em 1em; /* Adjust the margin as needed */
}

.profile p {
  margin: 0 0 1em 1em; /* Remove the margin */
  padding: 2px; /* Add padding to the paragraph */
  box-shadow: 0 0 30px gray;
  float: right; /* Float the paragraph to the right */
  width: 60%; /* Adjust the width as needed */
}

aside {
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

aside img {
  max-width: 25%;
  height: auto;
}


footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

